/* OCUPAR TODA LA PANTALLA */
html,
body,
#root {
    width: 100%;
    height: 100%;
}

/* FONDO GENERAL DE LA APP */
body {
    background-color: #151515;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}